:root{
    --raleway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --thin: 100;
    --light: 300;
    --regular: 400;
    --mediumL: 500;
    --bold: 700;
    --black: 900;
    --green75: rgba(105, 207, 23, 0.75 ); /*navbar hoveri*/
    --green90: rgba(105, 207, 23, 0.9 ); /*burger uchun*/
    --col-1: calc(100% / 12 * 1);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100%);
    
}
.col-4{
    width: var(--col-4);
    padding:0 15px;
}
.col-6{
    width: var(--col-6);
    padding:0 15px;
}
.col-12{
    width: var(--col-12);
    padding: 0 15px;
}
/*===============justify===================*/
    .justify-content-center{
        justify-content: center;
    }
    .justify-content-space-between{
        justify-content: space-between;
    }
    .justify-content-flex-end{
        justify-content: flex-end;
    }
/*===============align===================*/
    .align-items-center{
        align-items: center;
    }
    .align-items-flex-end{
        align-items: flex-end;
    }
/*============== flex ==================*/
    .d-flex{
        display: flex;
    }
    .flex-direction-column{
        flex-direction: column;
    }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: var(--raleway);
    background-color: #060002;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
/*===================HEADER========================*/
header{
    background: url(back.jpg) no-repeat center center / cover;
    width: 100%;
    height: 768px;
}

header nav .logo p{
    /* margin-top: 30px; */
    font-weight: var(--bold);
    font-size: 24px;
    /* color: #ffffff; */
    border: 3px solid #62be19;
    padding: 8px 19px;
    background-color: #4e9f0d;
    border-radius: 5px;
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
}
header nav .logo p a{
    color: #ffffff;
}
header nav{
    margin-right: -27px;
    margin-bottom: 150px;
}
header nav ul li:hover a{
    color: #ffffff;
    background: var(--green75);
}
header nav ul li a{
    display: block;
    padding: 40px 26px 29px 26px;
    color: #69cf17;
    font-weight: var(--light);
    font-size: 20px;
}
header nav ul li .active span{
    color: #69cf17;
    /* padding: 6px 0px; */    /*MAYDALASHMA!*/
    display: block;
    text-align: center;
    background-color: #ffffff;
    width: 24px; 
    height: 24px;
    border-radius: 100%;
    margin-left: 6px;
}
.active{
    background: var(--green75);
    color: #ffffff;
}
header .container .row .col-12 h2{
    color: #69cf17;
    font-weight: var(--black);
    font-size: 72px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
header .container .row .col-12 p span{
    display: block;
    font-weight: var(--regular);
    font-size: 36px;
    color: #69cf17;
    margin-bottom: 30px;
}
header .container .row .col-12 p{
    color: #dedede;
    font-weight: var(--regular);
    font-size: 18px;
    line-height: 24px;
}

header .container .row .col-12 .price p{
    margin-top: 75px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: var(--thin);
    background: var(--green75);
    width: 350px;
    padding-top: 28px;
    
}
/*===============main=================*/
main nav{
    margin-top: 50px;
    margin-bottom: 69px;
    color: white;
}
main nav ul li a{
    padding-right: 50px;
    font-size: 20px;
    font-weight: var(--bold);
    color: #7a7a7a;
}
main nav ul li a:hover{
    color: #69cf17;
}
main .nav_active{
    color: #69cf17;
}
main .container .row .col-4 .section_img{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border: 1px solid #4b4b4b;
}

main .container .row .col-4 .section_img img{
    width: 125%;
    height: 125%;    
    /* background-size: cover; */
    object-fit: cover;
    object-position: 0px -160px;
}
main .container .row .col-4 .section_img .price_burger{
    position: absolute;
    bottom: 0;
    left: 0;

}
main .container .row .col-4 .section_img .price_burger span{
    font-size: 24px;
    font-weight: var(--regular);
    display: block;
    padding: 21px 58px;
    background: var(--green75);
    color: #dedede;    
}
main .container .row .col-4 .section_img button{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--green90);
    top: 0;
    left: 0;
    border: none;
    font-size: 24px;
    color: #ffffff;
    font-weight: var(--regular);
    opacity: 0;
}
main .container .row .col-4 .section_img:hover button{
    opacity: 1;
    cursor: pointer;
    transition-duration: 0.7s;
}
main .container .row .col-4 .section_img:hover span{
    opacity: 0;
    transition-duration: 0.7s;
}
main .container .row .col-4 h2{
    font-size: 24px;
    font-weight: var(--bold);
    color: #69cf17;
    margin-top: 31px;
    margin-bottom: 14px;
    text-transform: uppercase;
}
main .container .row .col-4 p{
    font-size: 16px;
    font-weight: var(--regular);
    color: #c1c0c1;
    line-height: 24px;
    margin-bottom: 50px;
}
main {
    padding-bottom: 50px;
}
/* =================unique_recipe============================== */
.unique_recipe{
    background: url(back2.jpg) no-repeat center center / cover;
    padding-bottom: 70px;
}
.unique_recipe h2{
    padding-top: 40px;
    font-size: 36px;
    font-weight: var(--bold);
    color: #69cf17;    
    text-align: center;
}
.unique_recipe h2::after{
    margin-top: 30px;
    display: block;
    content: " ";
    background: #69cf17;
    width: 200px;
    height: 1px;
    margin-bottom: 49px;   
    margin-left: auto;
    margin-right: auto;
}
.unique_recipe p{
    font-size: 18px;
    font-weight: var(--regular);
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 29px;
}
/* ============address================ */
.address{
    width: 100%;
    /* margin: auto; */
}
.address h2{
    font-size: 36px;
    font-weight: var(--bold);
    color: #69cf17;
    padding-top: 50px;
    padding-bottom: 56px;
    text-transform: uppercase;
    background: #ffffff;
    text-align: center;
}
/* ==========footer================= */
footer nav .logo p{
    margin-bottom: 0px !important;
    font-weight: var(--bold);
    font-size: 24px;
    color: #ffffff;
    border: 3px solid #62be19;
    padding: 8px 19px;
    background-color: #4e9f0d;
    border-radius: 5px;
    box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
}
footer nav{
    margin-top: 40px;
    margin-bottom: 50px;
    /* border: 1px solid white; */
}
footer nav .tel a{
    font-size: 24px;
    font-weight: var(--bold);
    color: #4e9f0d;
    font-family: var(--roboto);
}
footer ul li a{
    font-size: 18px;
    font-weight: var(--thin);
    color: #cdcccc;
    /* padding: 0px 25px; */
}
footer ul li a:hover{
    color: #69cf17;
}
footer ul{
   margin: auto;
   width: 685px;
   padding-bottom: 41px;
}

footer p{
    font-weight: var(--regular);
    font-size: 16px;
    text-align: center !important;
    color: #ffffff;
    margin-bottom: 50px;
}
footer p a{
    color: #ffffff;
}
footer p a:hover{
    color: #69cf17;
}

/* media */
@media only screen and (max-width: 992px) {
    .row{
        margin: 0;
    }
    header .container .row .col-12 h2{
        font-size: 60px;
    }
    main nav {
        margin:30px 0 25px 15px;       
    }
    .col-md-6{
        width: var(--col-6);
    }
    header .container .row .col-12 .price p {
        padding: 15px 0px;
        width: 240px;
        height: 70px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 768px){
    header  {
        height: 620px;
    }
    header .container .row .col-12 h2{
        font-size: 45px;
    }
    header .container .row .col-12 p{
        line-height: 20px;
    }
    header nav{
        margin-bottom: 90px;
    }
    header nav ul li a{
        padding: 15px 15px;
        font-size: 15px;
    }
    main nav ul li a{
        padding: 10px;
    }
    main .container .row .col-4 .section_img {
        width: 100%;
        height: 360px;
        
    }
    main .container .row .col-4 .section_img img{
        width: 100%;
        height: 100%;
       
        object-position: 0px -300px;
    }
    footer ul{
        width: auto;
    }
    .col-sm-12{
        width: var(--col-12);
    }
}
@media only screen and (max-width: 576px){
    .d-ex-s-none{
        display: none;
    }
    header  {
        height: unset;
    }
    header .container .row .col-12 .price{
        margin-top: 25px;
        margin-bottom: 40px;
    }
    header .container .row .col-12 .price p{
        margin-top: 0;
    }
    header nav{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    main .container ul{
        flex-wrap: wrap;
    }
    main .container .row .col-4 .section_img {
        width: 100%;
        height: 280px;
        
    }
    main .container .row .col-4 .section_img img{
       
        object-position: 0px -250px;
    }
    main{
        padding-bottom: 0;
    }
    footer .container ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .container ul li{
        padding: 4px 7px;
    }
    footer .logo{
        margin-bottom: 10px;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }
}